*{
    margin: 0px;
}
.username-logo {
    display: flex;
    align-items: center;
}

.username-container{
    border: 2px solid black;
    background: rgba(252, 205, 205, 0.21);
    position: absolute;
    width: 28rem;
    height: 28rem;
left: 420px;
top: 120px;
}
.username-logo img{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid white;
}
.username-logo h1{
    font-size: 50px;
    padding-bottom: 30px;
    font-weight: 800;
}
.username-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.username-header{
    margin-bottom: 15px;
}
.username-header h4{
    font-weight: 900px;
    font-size: xx-large;
    margin: 10px;
    padding: 15px;
}
.username-header-upper-text{
    padding: 5px;
    margin-bottom: 8px;
    color: #333;
    font-weight: 600;

}
.textbox{
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 6;
    align-items: center;
    padding:3px;
}

.textbox input{
width: fit-content;
  height: 30px;
  padding: 9px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}


/* CSS */
.button-19 {
  appearance: button;
  background-color: #FFAEAE;
  border:  2 px solid black;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 80%;
}

.button-19:after {
  background-clip: padding-box;
  background-color: #FFAEAE;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.button-19:main,
.button-19:focus {
  user-select: auto;
}

.button-19:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.button-19:disabled {
  cursor: auto;
}

.not-a-member-text{
    position: relative;
    left: 70px;
    justify-items: center;
    padding: 4;
    display: flex;
    

}